#productMain{
    /*background-image: url('../../images/menu-bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
.topic{
    padding-top: 100px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:bold;
    text-align: center;
    position:relative;
}
.btn{

    font-size: 13px;
    color:white;
    border: 2px solid #cec3bb;
    border-radius: 12px;
    font-size: 100%;
}
.lists{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;

}
.lists h4{
    font-family: 'cursive';
    font-size: 30px;
}
.lists p{
    font-size: 20px;
   font:bold;
   color:green;
   
}

.img{
    border-radius: 10%;
    height: 200px;
    max-width: 300px;
}
@media(max-width:1190px){
    #productMain{
		background-size: 1150px !important;
		
	}
}

@media(max-width:970px){
    .lists{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0%;
    }
}

@media(max-width:620px){
    .lists{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .btn{
        font-size: 5px;
    }
    .topic{
        position:relative;
        text-align: center;
        font-size: 30px;
    }
    .img{
        height: 100px;
        max-width: 110px;
    }
    .lists h4{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
    }
    .lists p{
        font-size: 10px;
    }
}
@media(max-width:400px){
    .lists{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0%;
        padding-right: 0%;
        
    }
    .img{
        width: 100;
    }

    .btn{
        font-size: 5px;
    }
}